/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/* http://www.modularscale.com/?18&px&1.125 */

html {
  font-size: 1.125em;
  line-height: 1.222em;
  font-family: sans-serif;
  padding-top: 2.222em;
}

/* This body section will probably need to be changed to a min-width media query */
body {
  background: url("media/DSC05257.jpg") no-repeat center center fixed;;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-size: 1.125em;
  text-align: center;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: lighter;
  letter-spacing: 0.8em;
  color: rgba(0, 0, 0, 0.5);
}

h2 {
  font-size: 1em;
  text-align: center;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: lighter;
  margin-top: 2.027em;
  letter-spacing: 0.3em;
  color: rgba(0, 0, 0, 0.5);
}

a {
  font-size: 0.624em;
  text-align: center;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: lighter;
  margin-top: 0.79em;
  letter-spacing: 0.3em;
  color: white;
  text-decoration: underline;
}

p {
  font-size: 0.889em;
  text-align: center;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: lighter;
  margin-top: 1.424em;
  letter-spacing: 0.3em;
  color: white;
  width: 300px;
  margin: auto;
  margin-top: 0.889em;
  align-content: center;
}

input {
  background-color: rgba(187, 188, 189, 0.4);
  width: 50%;
  align-self: center;
  margin: 0.79em;
  padding: 0.889em;
  border-radius: 10px;
}

label {
  color: white;
  letter-spacing: 0.2em;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: 20;
  padding-top: 0.493em;
}

form {
  background-color: rgba(0, 0, 0, 0.5);
  width: 300px;
  padding-top: 1.222em;
  padding-bottom: 1.222em;
  border-radius: 10px;
  margin: auto;
  margin-top: 0.889em;
  align-content: center;
  position: fixed center;
}

form, li {
  display: flex;
  flex-flow: column;
  text-align: center;
}

#submit {
  background-color: none;
  margin-top: 2em;
  background:-moz-radial-gradient(51% 50% 35deg, #FFFFFF, #D1CFC7 68%)
}

#phone-warning {
  color: red;
  letter-spacing: 0.2em;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: 20;
  font-size: 0.79em;
  padding-top: 0.35em;
}

#email-warning {
  color: red;
  letter-spacing: 0.2em;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: 20;
  font-size: 0.79em;
  padding-top: 0.35em;
}

#thankyou {
  font-size: 1em;
  text-align: center;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: lighter;
  margin-top: 1.424em;
  letter-spacing: 0.3em;
  color: white;
  width: 300px;
  margin: auto;
  margin-top: 0.889em;
  align-content: center;
  position: fixed center;
}

#contact-form {
  margin-top:3em;
}

#birthday {
  -webkit-appearance: none;
}

@media screen and (min-width: 410px) {
  h1 {
    font-size: 1.424em;
    text-align: center;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: lighter;
    letter-spacing: 0.8em;
    color: rgba(0, 0, 0, 0.5);
  }

  h2 {
    font-size: 1.125em;
    text-align: center;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: lighter;
    margin-top: 2.027em;
    letter-spacing: 0.3em;
    color: rgba(0, 0, 0, 0.5);
  }
}

@media screen and (min-width: 520px) {
  h1 {
    font-size: 1.802em;
    text-align: center;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: lighter;
    letter-spacing: 0.8em;
    color: rgba(0, 0, 0, 0.5);
  }

  h2 {
    font-size: 1.424em;
    text-align: center;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: lighter;
    margin-top: 2.027em;
    letter-spacing: 0.3em;
    color: rgba(0, 0, 0, 0.5);
  }
}

@media screen and (min-width: 660px) {
  h1 {
    font-size: 2.281em;
    text-align: center;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: lighter;
    letter-spacing: 0.8em;
    color: rgba(0, 0, 0, 0.5);
  }

  h2 {
    font-size: 1.802em;
    text-align: center;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: lighter;
    margin-top: 2.027em;
    letter-spacing: 0.3em;
    color: rgba(0, 0, 0, 0.5);
  }
}

@media screen and (min-width: 1050px) {
  h1 {
    font-size: 3.653em;
    text-align: center;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: lighter;
    letter-spacing: 0.8em;
    color: rgba(0, 0, 0, 0.5);
  }

  h2 {
    font-size: 2.281em;
    text-align: center;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: lighter;
    margin-top: 2.027em;
    letter-spacing: 0.3em;
    color: rgba(0, 0, 0, 0.5);
  }
}
